
<%- include('../partials/html_header') %>
<!--			nav start -->
			<%- include('../partials/header') %>
<!--			nav end-->
<h1>User List</h1>



			<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Address</th>
      <th> Phone</th>
      <th>Age</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  	
  	<% users.forEach(user => { %>
    <tr>
      <th scope="row"> <%= user.firstName %> </th>
      <td><%= user.lastName %></td>
      <td><%= user.address %></td>
      <td><%= user.phone %></td>
      <td><%= user.age %></td>
      <td><%= user.createdAt %></td>
    </tr>
    <% }) %>
  </tbody>
</table>



<%- include('../partials/html_footer') %>