<%- include('../partials/html_header') %>

<!--			nav start -->
<%- include('../partials/header') %>
<!--			nav end-->
<h1>Update Product : <%= product.name %></h1>

<form method="POST" action="/product/<%= product._id%>?_method=PUT">
    <div class="form-group">
        <label for="exampleInputProduct">Product Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputProduct" aria-describedby="emailHelp" placeholder="Enter product name" value="<%=oldInput.name || product.name%>">
        <small id="emailHelp" class="form-text text-danger"><%= errors.name %></small>
    </div>

    <div class="form-group">
        <label for="price">Product Price</label>
        <input type="number" name="price" class="form-control" id="price" aria-describedby="emailHelp" placeholder="Enter product price" value="<%=oldInput.price || product.price%>">
        <small id="emailHelp" class="form-text text-danger"><%= errors.price %></small>
    </div>
    <div class="form-group">
        <label for="price">Product status</label>
        <input type="radio" name="status" value="true"

        <%if(oldInput.status === 'true' || product.status){%>
            <%= 'checked'%>
                <%}%>
        > Active
        <input type="radio" name="status" value="false"
        <%if(!oldInput.status === 'false' || !product.status){%>
            <%= 'checked'%>
                <%}%>
        > Inactive
        <small id="emailHelp" class="form-text text-danger"><%= errors.status %></small>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>



<%- include('../partials/html_footer') %>