<%- include('../partials/html_header') %>

<!--			nav start -->
			<%- include('../partials/header') %>
<!--			nav end-->
<h1>Product List</h1>
<a href="/product/create" class="btn btn-primary">Add Product</a>



			<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  	
  	<% products.forEach(product => { %>
    <tr>
      <th scope="row"> <%= product.name %> </th>
      <td><%= product.price %></td>
      <td><%= product.status %></td>
      <td><%= product.createdAt %></td>
      <td><%= product.updatedAt %></td>
      <td>
        <button type="button" class="btn btn-warning">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>



<%- include('../partials/html_footer') %>




		