<%- include('../partials/html_header') %>

<!--			nav start -->
<%- include('../partials/header') %>
<!--			nav end-->
<h1>Product List</h1>
<a href="/product/create" class="btn btn-primary">Add Product</a>

<%- include('../partials/alert') %>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% if(products.length < 1) { %>
        <tr>
            <td colspan="6" style="text-align: center">No Data</td>
        </tr>
    <% } %>

    <% products.forEach(product => { %>
        <tr>
            <th scope="row"> <%= product.name ;%> </th>
            <td><%= product.price ;%></td>
            <td>
                <% if(product.status){ %>
                    <span class="badge badge-pill badge-success">Active</span>
                <% } else { %>
                    <span class="badge badge-pill badge-danger">Inactive</span>
                <% } %>
            <td><%= product.createdAt ;%></td>
            <td><%= product.updatedAt ;%></td>
            <td>
                <a href="/product/<%= product._id ;%>/edit" class="btn btn-warning">Edit</a>
                <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#delete-confirm-modal" data-href="/product/<%= product._id ;%>">
                    Delete
                </button>
            </td>
        </tr>
    <% }); %>
    </tbody>
</table>

<%- include('../partials/delete_modal') %>
<%- include('../partials/html_footer') %>




